<!-- <h2 style="color: red;">{{test1}}</h2> -->
<!-- <h3 style="color:palevioletred">{{test2}}</h3> -->

<!-- <img src="https://tse1.mm.bing.net/th?id=OIP.y6MXl1TwB-x2bZFfTsh7MAHaEK&pid=Api&rs=1&c=1&qlt=95&w=211&h=118"height="25%"width="25%"> -->
<!-- <h2 style="color: green;">{{test3}}</h2> -->

<!-- <h4 style="color:violet;">Today I Am Run my project suceessfully</h4> -->

<!-- <a href="">CLICK ME</a><br> -->

<!-- <button class="btn btn-danger">SUBMIT</button> -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-directive></app-directive> -->
<!-- <app-template-form></app-template-form> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-life-cycle></app-life-cycle> -->
<!-- <app-service></app-service> -->
<!-- <app-service2></app-service2> -->
<!-- <app-practice></app-practice> -->
<!-- <app-practice2></app-practice2> -->
<!-- <app-rx-js-operator></app-rx-js-operator> -->
<!-- <app-practice3></app-practice3> -->
<!-- <app-service3></app-service3> -->
<!-- <app-practice4></app-practice4> --> 
<!-- <app-promise></app-promise>     -->
<!-- <app-pratical></app-pratical> -->
<!-- <app-practical2></app-practical2> -->
<!-- <app-practical3></app-practical3> -->
<app-practice5></app-practice5>